@import '~antd/lib/style/themes/default.less';

@primary-color: #113C73; // primary color for all components
@box-shadow-base: 0 0 4px 4px rgb(0 0 0 / 8%); // major shadow for layers
@layout-sider-background: #013365;
@menu-inline-submenu-bg: #013365;
@font-family: IRANSans;
@info-color: #3975F6;
@border-radius-base: 4px;

// @card-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);